/* ========== Copy Button ========== */
.code-container {
  position: relative;
  margin-bottom: 1em;
}

.custom-copy-button.sleek {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  color: #ccc;
  border: none;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.code-container:hover .custom-copy-button.sleek {
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.custom-copy-button.sleek:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

.custom-copy-button.sleek:active {
  background: rgba(255, 255, 255, 0.4);
}

/* ========== Button-like Links ========== */
.md-typeset a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
  margin: 2px 1px;
  background-color: rgba(211, 47, 47, 0.2);
  color: #d32f2f;
  border: 1px solid rgba(211, 47, 47, 0.5);
  font-size: 14px;
  font-weight: 400;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.md-typeset a:hover {
  background-color: rgba(117, 117, 117, 0.5);
  color: white;
  border-color: rgba(117, 117, 117, 0.7);
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
